<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170546343306-fkhicgplpt9akkqqgdmksm3ut0kov1dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170546343306-fkhicgplpt9akkqqgdmksm3ut0kov1dg</string>
	<key>API_KEY</key>
	<string>AIzaSyCcb97MxyhdCDKJfN7-Coshskv0tsiWVxA</string>
	<key>GCM_SENDER_ID</key>
	<string>170546343306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.google.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>isenecambo</string>
	<key>STORAGE_BUCKET</key>
	<string>isenecambo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170546343306:ios:c5f8b602da0813fe00ac73</string>
</dict>
</plist>